**/.DS_Store
.vscode/settings.json
/appearance/
/audios/
/avatars/
/babecock/
/backgrounds/
/cameos/
/cap/
/classes/
/clothes/
/dockings/
/dreams/
/encounters/
/food/
/gf/
/itinerary/
/lana/
/magazines/
/massages/
/passengers/
/penny/
/places1/
/places2/
/porn/
/quest1/
/quest2/
/quest3/
/quest4/
/quest5/
/quest6/
/quest7/
/quest8/
/quest9/
/quest10/
/quest11/
/quest12/
/quest13/
/quest14/
/quest15/
/screenwall/
/stage/
/statbars/
/stuff/
/tara/
/cumshot.gif
/lust1.gif
/reset.png